main{
    width: 100%;
    // height: 650px;
    // border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;

>.row.gn{
    width: 100%;
    height:650px;
    // border:2px solid blue ;
    // margin: 20px;
    justify-content: center;
    align-items: center;
        >*{
            width: 48%;
            height: 600px;
            // border: 2px solid yellow;
            display: flex;
            flex-wrap: wrap;
             
        }
        >.row.d1{
            align-content: space-evenly;
            margin-right: 5px;
                >*{
                    width: 100%;
                    height: 150px;
                    // border: 2px solid black;
                    display: flex;
                    align-items: center;
                    margin: 5px 10px;
                }
                >.row.d1-1{
                    color: wheat;
                    font-size: 2vw;
                    justify-content: center;
                    >*{
                        margin: 5px 0;
                    }
                }
                >.row.d1-2{
                    justify-content: start;
                    background-color: rgb(151, 151, 151);
                    border-radius: 10px;
                    padding: 10px;
                    height: 150px;
                    >*{  
                       width: 100%; 
                       margin: 5px 0; 
                    }
                    >.row.d1-2-1{
                        margin: 5px;
                       >label{
                        width: 100%;
                       }
                    }
                    >.row.d1-2-2{
                        >*{
                            margin: 0 5px;
                        }
                    }
                    
                   
                }
                >.row.d1-3{
                    justify-content: end;
                    
                     
                    >div{
                        margin-right: 10px;
                        cursor: pointer;
                        width: 30px; 
                        height: 30px;
                        display: flex;
                        
                        >i{
                            // border: 2px solid rgb(68, 79, 74);
                            // background-color: wheat;
                            border-radius: 5px;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 35px;
                        }
                     }
                    }

                }
       
        >.row.d2{
            margin-left: 5px;
            align-content: space-evenly;
                >*{
                    width: 100%;
                    height: 100%; 
                    // border: 2px solid rgb(243, 243, 243);
                    display: flex;
                    justify-content: center;
                    align-content: space-evenly;
                     
                }
                >.row.d2-1{
                    height:100px;

                   >h1{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: wheat;  
                        font-size: 3vw;
                    }
                }
                >.row.d2-2{
                    >*{
                        width: 99%;
                        height: 100%;
                        background-color: rgb(151, 151, 151);
                        border-radius: 10px;
                        // border: 2px solid rgb(29, 234, 10);
                        display: flex;
                        flex-wrap: wrap;
                        align-content: center;
                        justify-content: center;
                         
                        overflow-y: auto;
                        scroll-behavior: smooth;
                        overflow-wrap: anywhere;  

                    }
                  
                }
        }
    

    }

}


.extra{  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(143, 143, 143);
    border: 2px solid rgb(87, 87, 87);
    width: 90%;
    transition: 1s;
    border-radius: 10px;
    margin-top: 20px;
    color: wheat ;
    
     
     >*{
        width: 50%;
        height: 100%;
        // border: 2px solid yellow;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
     }
     >.div1{
        >*{
            margin: 10px;
        }
        >span{
            position: relative;
            >i{
                position: absolute;
                left: 0;
                top: 50%;
                width: 0;
                height: 3px;
                border-radius: 2px;
                background-color: rgb(38, 40, 42);
                transition: 1.5s;
            }
        }
     }
     >.div2{

        >*{ 
           display: flex;
            justify-content: center;
            align-items: center;
           flex-wrap: wrap; 
        //    border: 2px solid black;
           
        }
        >.div3{
            width: 70%;
        }
        >.div4{
            width: 30%;
            >*{
                width: 25px;
                height: 25px;
                border-radius: 5px;
                margin: 3px;
            }
            >button{
                background-color: #979797;
                >i{
                    font-size: 20px;
                }
            }
        }
     }

}

.close{
    transform: translateX(-1000px);
}